<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Project Sdk="Microsoft.NET.Sdk">
		<PropertyGroup>
			<OutputType>Dll</OutputType>
			<TargetFramework>.NETFramework,Version=v4.8</TargetFramework>
			<PackageId>DarkUI</PackageId>
			<Version>1.0.0</Version>
			<Authors>Aymen</Authors>
			<Company>MacrosEngine</Company>
			<PackageDescription>DarkUI Winforms controls</PackageDescription>
			<RepositoryUrl>https://github.com/aymenbnr/DarkUI</RepositoryUrl>
		</PropertyGroup>
	</Project>
</configuration>