<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/aymenbnr/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="aymenbnr" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>